<!DOCTYPE html>
<html ng-app="ngup">
<head>
	<title>Never Give Up Team</title>
	<meta charset="utf-8" />
	<meta name="description" content="Never Give Up Team" />
	<link rel="stylesheet" href="public/css/bootstrap.css" />
	<link rel="stylesheet" href="public/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="public/css/style.css" />
</head>
<body>
	<header ng-controller="headerController">
		<div class="app-standard center-screen">
			<img src="public/img/logo.png" class="header-logo" alt="Never Give Up Logo" />
			<ul class="nav-bar">
				<li ng-click="visitHTTT()">HTTT</li>
				<li ng-click="visit110001NP()">110001NP</li>
			</ul>
		</div>
	</header>

	<div class="container">
		<div ng-view></div>
	</div>

	<script type="text/javascript">
		var package = {};
		package.controller = {};
	</script>

	<script src="public/js/jquery.js"></script>
	<script src="public/js/angular.js"></script>
	<script src="public/js/angular-route.js"></script>
	<script src="public/js/bootstrap.js"></script>
	<script src="public/js/config/router.js"></script>
	<script src="public/js/controller/index.js"></script>
	<script src="public/js/controller/header.js"></script>
	<script src="public/js/controller/teamHttt.js"></script>
	<script src="public/js/controller/team110001NP.js"></script>
	<script src="public/js/script.js"></script>
</body>
</html>