.app-standard {
	width: 980px;
}

.center-screen {
	margin: 0 auto;
}

header {
	height: 70px;
	background: #000;
}

.header-logo {
	height: inherit;
	cursor: pointer;
}

.nav-bar {
	display: flex;
	float: right;
	margin-top: 15px;
	list-style: none;
}

.nav-bar > li {
	width: 100px;
	height: 40px;
	margin-left: 10px;
	line-height: 2.9em;
	text-align: center;
	background: #323232;
	border-radius: 4px;
	color: #f2f2f2;
}

.nav-bar > li:hover {
	cursor: pointer;
	background: #4c4c4c;
}

.content {
	width: 440px;
	margin: 0 auto;
}

.list-profiles {
	margin-top: 30px;
	list-style: none;
}

.profile {
	background: #323232;
	border-radius: 4px;
}

.profile-avatar {
	float: right;
	height: 100px;
	margin-top: 10px;
	border-radius: 50px;
	transition: border-radius 0.5s ease;
}

.profile-avatar:hover {
	border-radius: 4px;
	cursor: pointer;
}

.profile-name {
	color: #337ab7;
}

.profile-birthday {
	color: #777;
	font-size: 15px;
	font-weight: 100;
}

.profile-email {
	color: #ddd;
	font-size: 15px;
	font-weight: 100;
}

.profile-summary {
	margin-top: 10px;
	padding-bottom: 10px;
}

.profile-summary-content {
	background: #f2f2f2;
	width: 94%;
	margin: 0 auto;
	padding: 10px;
	color: #323232;
	border-radius: 4px;
	text-align: justify;
}