.app-standard {
	width: 980px;
}

.center-screen {
	margin: 0 auto;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.bold {
	font-weight: 700;
}

header {
	height: 70px;
	background-color: #000;
}

.header-logo {
	height: inherit;
	cursor: pointer;
}

footer {
	height: 50px;
	margin-top: 30px;
	color: #ddd;
	background-color: #000;
}

.footer-copyright {
	float: left;
	margin-top: 15px;
}

.footer-designed-by {
	float: right;
	margin-top: 5px;
}

.nav-bar {
	display: flex;
	float: right;
	list-style: none;
}

.nav-bar > li {
	width: 100px;
	height: 40px;
	margin-left: 10px;
	line-height: 2.9em;
	color: #f2f2f2;
	text-align: center;
	background-color: #323232;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.nav-bar > li:hover {
	cursor: pointer;
	background-color: #4c4c4c;
}

.nav-bar > li:active {
	background-color: #232323;
}

.nav-teams {
	margin-top: 15px;
}

.content {
	width: 700px;
	margin: 0 auto;
}

.list-profiles {
	padding: 0;
	list-style: none;
}

.profile {
	width: 440px;
	margin-top: 30px;
	background-color: #323232;
	border-radius: 4px;
	box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
}

.tab {
	margin-left: 200px;
}

.profile-name {
	color: #337ab7;
}

.profile-id-birthday {
	font-size: 15px;
	font-weight: 100;
	color: #777;
}

.profile-email {
	font-size: 15px;
	font-weight: 100;
	color: #ddd;
}

.profile-summary {
	padding-bottom: 10px;
	margin-top: 10px;
}

.profile-summary-content {
	width: 94%;
	padding: 10px;
	margin: 0 auto;
	color: #323232;
	text-align: justify;
	background-color: #f2f2f2;
	border-radius: 4px;
}

.cell-image {
	padding: 10px;
}

.index-content {
	width: 820px;
	text-align: justify;
}

.article {
	margin-top: 20px;
}

.avatar {
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 27px;
	background-color: #f2f2f2;
	background-image: url("/public/img/avatar.jpg");
	background-repeat: no-repeat;
	background-size: 200px 400px;
	border-radius: 50px;
	transition: border-radius 0.5s ease;
}

.avatar:hover {
	cursor: pointer;
	border-radius: 4px;
}

.avatar-hcphong {
	background-position: 0 0 !important;
}

.avatar-hnhiep {
	background-position: -100px 0 !important;
}

.avatar-ntbthao {
	background-position: 0 -100px !important;
}

.avatar-ntnhan {
	background-position: -100px -100px !important;
}

.avatar-nttngan {
	background-position: 0 -200px !important;
}

.avatar-pctu {
	background-position: -100px -200px !important;
}

.avatar-tctin {
	background-position: 0 -300px !important;
}

.avatar-vhnam {
	background-position: -100px -300px !important;
}