<section class="content" data-ng-controller="110001npController">
	<article class="article">
		<h3>Tiểu sử</h3>
		<p>
			"110001NP" được lấy cảm hứng từ "110010NT". "110010NT" là ở dạng nhị phân, chuyển sang Hexa là "32NT", tức nhóm này có 3 người tên chữ N (Nhân - Nhứt - Nam) và 2 người tên chữ T (Thanh - Tuấn/Thái). Nhóm 110010NT có 2 thành viên của N.G.U đi tham gia chương trình Thách Thức năm 2013 và 2014 của khoa CNTT trường ĐH KHTN.
		</p>
		<p>
			Và từ phiên bản đó, đã biến thể thành "110001NP", chuyển sang Hexa là "31NP", tức nhóm có 3 người tên chữ N (Nhân - Ngân - Nam) và 1 người tên chữ P (Phong).
		</p>
	</article>
	<article class="article">
		<h3>Danh sách thành viên</h3>
		<ul class="list-profiles">
		<li data-ng-repeat="person in team110001NP">
			<profile id="{{person.id}}"
				name="{{person.name}}"
				birthday="{{person.birthday}}"
				avatar="{{person.avatar}}"
				summary="{{person.summary}}"
				email="{{person.email}}"
				link="{{person.link}}"
				visitHomePage="visitHomePage()"
				data-ng-class-even="'tab'"></profile>
		</li>
	</ul>
	</article>
</section>