<section class="content" data-ng-controller="htttController">
	<article class="article">
		<h3>Tiểu sử</h3>
		<p>
			"HTTT" được ghép từ chữ cái đầu của 4 thành viên (Hiệp - Thảo - Tín - Tú).
		</p>
	</article>
	<article class="article">
		<h3>Danh sách thành viên</h3>
		<ul class="list-profiles">
		<li data-ng-repeat="person in teamHTTT">
			<profile id="{{person.id}}"
				name="{{person.name}}"
				birthday="{{person.birthday}}"
				avatar="{{person.avatar}}"
				summary="{{person.summary}}"
				email="{{person.email}}"
				link="{{person.link}}"
				visitHomePage="visitHomePage()"
				data-ng-class-even="'tab'"></profile>
		</li>
	</ul>
	</article>
</section>