<section class="app-standard center-screen index-content">
	<h2>N.G.U - Never Give Up</h2>
	<article class="article">
		<p>
			"N.G.U" là tên viết tắt của "Never Give Up". Người đứng ra lập nhóm ban đầu là Nguyễn Thành Nhân.
		</p>
		<p>
			Các thành viên lúc này gồm có Nguyễn Thành Nhân, Hoàng Ngọc Hiệp, Nguyễn Sử Tất Đạt, Nguyễn Thị Bích Thảo, Phạm Chung Tú, Nguyễn Thị Trí Tuệ, Nguyễn Thị Thủy Ngân và Võ Hoài Nam.
		</p>
		<div class="row">
			<div class="col-md-6">
				<img src="/public/img/Team/January_2013.jpg" alt="January, 2013" />
			</div>
			<div class="col-md-6">
				<img src="/public/img/Team/May_2013.jpg" alt="May, 2013" />
			</div>
		</div>
	</article>
	<article class="article">
		<p>
			Sau năm nhất, Nguyễn Sử Tất Đạt đã tìm một nhóm mới. Trong học kì một năm hai, Huỳnh Chí Phong và Tô Chính Tín đã tham gia cùng với nhóm.
		</p>
		<div class="row">
			<div class="col-md-6">
				<img src="/public/img/Team/February_2014_1.jpg" alt="February, 2014" />
			</div>
			<div class="col-md-6">
				<img src="/public/img/Team/February_2014_2.jpg" alt="February, 2014" />
			</div>
		</div>
	</article>
	<article class="article">
		<p>
			Vào học kỳ hai năm hai, Nguyễn Thị Trí Tuệ quyết tâm nghỉ học để mong được đậu Đại học trường ĐH KHTN, bậc ĐH, khoa CNTT.
		</p>
		<p>
			Và số phận lại đưa đẩy Tuệ trở lại... Sau một thời gian trăn trở trong việc chỉnh đốn đội hình. Tuệ đã chuyển sang nhóm 7589 gồm Đỗ Ngọc Hải (tự Hải Sida), Nguyễn Thị Ngọc Bích, Trần Văn Trãi.
		</p>
		<div class="row center">
			<img src="/public/img/Team/7586_Team.jpg" alt="7589's Team">
		</div>
	</article>
	<article class="article">
		<p>
			Trong quá trình học tập, N.G.U tách nhỏ làm 2 phe gồm <span class="bold">HTTT</span> và <span class="bold">110001NP</span>. Sự kiện, sự tích thì vui lòng nhấn vào mấy cái nút phía trên Header để tìm hiểu.
		</p>
		<p>
			Dù sao đi nữa thì chúng ta đã có một khoảng thời gian dài 3 năm với nhau cùng giận, chạy deadline, ăn chơi,... Mình làm web này một phần để thí nghiệm công nghệ, một phần cũng muốn lưu giữ kỷ niệm. Hi vọng đây sẽ là cái gì đó để mọi người cùng nhớ đến nhau.
		</p>
		<p>
			Chúc mọi người luôn thành công và thẳng tiến trên con đường đời.
		</p>
		<div class="center">
			<img src="/public/img/never_give_up.jpg" alt="Never Give Up">
		</div>
	</article>
</section>